/*Responsive menu style sheet*/
body {
	background-color: #ece8e5;
}

nav {
	background-color: #00B16A;
	width:100%;
	height: auto;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	margin-left: 10px;
}


nav li a {
	color: #ffffff;
	padding: 5px 10px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	line-height: 40px;
}

nav li a:hover {
	background-color:#C8F7C5;
	color: #000000;
}

/*Media Queries*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	nav ul {
		width: 100%;
	}
	nav ul li {
		float: none;
		position: relative;
	}
	nav li a {
		border-bottom: 1px solid #576979;
		display: block;
	}
}
